amc

# VS-specific excludes
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

x64/
x86/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

project.lock.json
project.fragment.lock.json
artifacts/

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*.psess
*.vsp
*.vspx
*.sap

tf/
.dotCover
[Ee]xpress/
publish/
csx/
.build.csdef
AppPackages/
BundleArtifacts/
_pkginfo.txt

Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

*.mdf
*.ldf
*.ndf

node_modules/
*.pyc
__pycache__/